<main>
    <div class="row">
    <div class="col-sm-6">
        <section class="card" style="margin: 15px;">
            <img [src]=productDetail.image  class="card-img-top" [alt]="productDetail.name">
            <div class="card-body">
            <h5 class="card-title">{{productDetail.name}}</h5>
            <p class="card-text">Price :- ${{productDetail.price}}</p>
           <p class="card-text">{{productDetail.description}}</p>
            </div>
        </section>
    </div>
    </div>
</main>
